EParseCIS
EPCPyYes
quartet_output
quartet_epcis
quartet_capture
quartet_masterdata
quartet_templates
-e git+https://gitlab.com/serial-lab/quartet_tracelink.git#egg=quartet_tracelink
django
djangorestframework
gs123
list_based_flavorpack
random_flavorpack
serialbox
